.slider-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding-top: 50px; /* To provide space for the buttons */
  }
  
  .next-button, .prev-button {
    position: absolute;
    top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .image-row {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .image-container {
    flex: 1;
    margin: 5px;
    text-align: center;
  }
  
  .slide-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .image-description h3 {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .image-description p {
    margin: 2px 0;
    font-size: 14px;
  }
  
  .discount {
    color: red;
    font-weight: bold;
  }
  