.entryContainer {
    background-image: url('../../assets/');
    background-size: 100% 100%; /* Stretch the background image to cover the entire container */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    z-index: -10000;

}
