.div0 {}



.div4 {
  display: none
}




@media (max-width: 780px) {
  .div0 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .div2 {
    display: none;
    border: none; !important;
  }

  .div3 {
    display: none;
  }

  .div4 {
    display: flex
  }

}