.footer {
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 50px;
    height: auto;
}

.company-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Adjust margin as needed */
}

.footer-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.link {
    display: block;
    margin-bottom: 0.3rem;
    color: #666;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.form-control {
    margin-top: 1rem;
}

.input {
    width: calc(100% - 120px);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.join {
    display: flex;
    gap: 1rem;
}

#root > div > footer > div:nth-child(1) > div:nth-child(1) > img {
    width: 49px;
}

