.popularCategories {
    height: 30vh;
}

.popula-header {
    height: 15%;
    font-weight: 700;
}

.grid-container {
    height: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    grid-gap: 20px;
}

.image-container {
    height: 100%;
}
.image {
    height: 80%;
    width: 100%;
}
.paragraph {
    padding-left: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .popularCategories {
        height: 59vh;
    }

    .popula-header {
        height: 5%;
    }
    .grid-container {
        height: 95%;
    }
    .image-container {
        height: 175px;
    }
    .grid-container {
        grid-gap: 20px;
        padding: 0px;
        padding-top: 10px;
    }
    .image {
        height: 70%;
    }

    #categoryText {
        font-weight: 500;
        font-size: 12px;
    }

    #nrofrestText {
        font-weight: 500;
        font-size: 9px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .popularCategories {
        height: 59vh;
    }

    .popula-header {
        height: 5%;
    }
    .grid-container {
        height: 95%;
    }
    .image-container {
        height: 175px;
    }
    .grid-container {
        grid-gap: 20px;
        padding: 0px;
        padding-top: 10px;
    }
    .image {
        height: 70%;
    }

    #categoryText {
        font-weight: 500;
        font-size: 12px;
    }

    #nrofrestText {
        font-weight: 500;
        font-size: 9px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
    .popularCategories {
        height: 55vh;
    }
    .image-container {
        height: 215px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid-container {
        grid-gap: 50px;
        padding: 0px;
        padding-top: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
