version: '3.8'
services:
  web:
    container_name: ACCOUNTING-DEVELOPMENT-FRONTEND
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./src:/usr/src/app/src
      - ./public:/usr/src/app/public

