/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centering content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 7rem;
    width: 63%;
}


/* Table styles */
.table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(199, 124, 207, 0.1);
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 63%;
    overflow-x: auto; /* kjo ben scroll horizontal */
}

th, td {
    text-align: -webkit-center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
}


th {
    background-color: #f2f2f2;
}

/* Action buttons */
.actions-container {
    display: flex;
    align-items: center;
}

.btn-primary.mr-2{
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-color: #5f8571;
    border-radius: 6px;
    cursor: pointer;
    background-color: #7fcda5;
    color: #fff;
}
.btn.btn-success {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #b0b7be;
    color: #fff;
}
/* Custom CSS for pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 100%; 
    margin-right: 30rem;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.pagination .active a {
    background-color: #5932EA; 
    color: white; 
    font-weight: bold;
}

.pagination .disabled a {
    pointer-events: none;
    color: #ccc;
}
