/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centering content */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: auto; 
}

/* Table styles */
table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
}

th {
    background-color: #f2f2f2;
}


/* Checkbox styles */
input[type="checkbox"] {
    margin-right: 5px;
}

.icon-cell {
    display: flex;
    align-items: center;
    padding: 4px;
    padding: 2px;
}

.icon {
    margin-left: 10px;
    max-width: 1.5rem;
    height: auto;
    margin-top: 0px;
    padding: 2px;
}

.p-4 {
    padding: 1rem;
    margin-top: 3px;
    margin-left: -2rem;
}




/* Media query for smaller screens */
@media (max-width: 768px) {
   
  .table-scroll-container {
        margin-top: 2rem;
        width: 95%; 
    }

   
    table {
        width: 100%; 
    }

    th, td {
        padding: 10px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }


    
}

 .btn-primary {
      display: inline-block;
    padding: 6px 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
 } 

#root > div > div > table > tbody > tr:nth-child(3) > td.p-4.icon-cell > button{
    display: inline-block;
    padding: 6px 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#root > div > div > table > tbody > tr:nth-child(2) > td.p-4.icon-cell > button{
    display: inline-block;
    padding: 6px 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#root > div > div > table > tbody > tr:nth-child(1) > td.p-4.icon-cell > button{
    display: inline-block;
    padding: 6px 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#root > div > div > table > tbody > tr:nth-child(4) > td.p-4.icon-cell > button{
    display: inline-block;
    padding: 6px 3px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}